---
interface Props {
    pageInfo: {
        description: string;
        title: string;
        ogImageUrl: string;
        canonical: string;
    }
}

const { pageInfo } = Astro.props;
---

<meta name="description" content={pageInfo.description} />
<meta property="og:title" content={pageInfo.title} />
<meta property="og:description" content={pageInfo.description}>
<meta property="og:image" content={pageInfo.ogImageUrl} />
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="TPP Protection" />
<meta property="og:type" content="website" />
<title>{pageInfo.title}</title>
<link rel="canonical" href={pageInfo.canonical}>